/***Asset***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: cursive;
    color: #0e0d0d;
}

h1,
h2,
h3 {
    margin-bottom: 20px;
}

.vp-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/***Header***/
.header {
    background: #6c301f;
    overflow: auto;
    /* lors du click sur les elements , ils auront la même hauteur que le header*/
    line-height: 1.7em;
}

.header nav h1 {
    float: left;
    padding: 20px;
    margin-bottom: 0;
}

.header nav h1 {
    color: #d78831;
}

.header nav ul {
    float: right;
    /* pour ne plus avoir les petits rongs*/
    list-style: none;
}

.header nav ul li {
    float: left;
}

.header nav ul li a {
    color: #d78831;
    padding: 20px;
    /*laisser un peu d'espace entre les éléments */
    display: block;
}

.header nav ul li a:hover,
.active {
    background: #d29c62;
    color: #6c301f;
}

/***Section Biblio***/

.bi {
    /*la hauteur du background */
    /*height: 700px;*/
    background-color: #d29c62;
    background-size: cover;
    /*pour couvrir toute l'image */
    text-align: center;
    display: flex;
}

.bi-content {
    min-height: 100vh;
    display: flex;
    padding-top: 10px;
    align-items: center;
    align-self: center;
    justify-self: center;
    align-content: center;
    margin-left: 400px;
}

/*section*/
.vp-content {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    /*on veux des colonnes*/
    flex-wrap: wrap;
    text-align: center;
    background-color: #d29c62;
    background-size: cover;
    /*pour couvrir toute l'image */
}

.library-search-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 200px;
    align-items: center;
    justify-content: start;
}

.lib {
    height: 400px;
    width: 230px;
    border: 5mm ridge #583616;
    border-right-width: 6mm;
    border-top-width: 7mm;
    background-color: #321a04;
    border-radius: 14px;
    align-items: center;
    margin-top: 12px;
    flex-wrap: wrap;
    display: flex;
}




/****Barre de recherche****/

.search-barre {
    width: 131px;
    height: 33px;
    background-color: #321a04;
    color: #d29c62;
    border: #d88933;
    border-radius: 30px / 50px;
    text-align: center;
}

input::placeholder {
    color: #d88933;
    opacity: 1;
}

.search-icon {
    margin-top: 25px;
    height: 40px;
    height: 20px;
    background-color: #d29c62;
    color: #321a04;
    justify-content: center;
    text-align: center;
}

.book {
    align-items: center;
    align-self: center;
    justify-self: center;
    align-content: center;
    height: 118px;
    width: 47px;
    /*Orientation du titre du livre*/
    writing-mode: vertical-rl;
    text-orientation: sideways;
    border-width: thick;
    border-right-width: 2em;
    border: solid 2px rgb(7, 18, 7);

    flex-direction: row;
}

.book-one {
    background-color: rgb(69, 107, 69);
}

.book-tree {
    background-color: rgb(69, 30, 30);
}

* .book-two {
    background-color: rgb(230, 230, 134);
}

.book-four {
    background-color: rgb(168, 90, 103);
}

.pied-droit {
    height: 50px;
    width: 20px;
    background-color: hsl(28, 58%, 12%);
    border-right: 5px solid #583616;
    border-radius: 5px 10% 4em 8px;
    display: flex;
    flex-direction: column;
    flex: 0.07;
    justify-content: space-around;

}



.pied-gauche {
    height: 50px;
    width: 20px;
    background-color: hsl(28, 58%, 12%);
    border-left: 5px solid #583616;
    border-radius: 5px 10% 4em 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 0.07;
}



.pp {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;


}

/***footer***/

footer {
    background: #6c301f;
    color: #d78831;
    padding: 30px 0px 30px 0px;
    text-align: center;
}

footer p {
    margin-bottom: 0px;
}